.expense-item-container{
  background-color: #2a2a2a;
  display: flex;
  width: 850px;
  margin-left: 50px;
  border-radius: 10px;
}

.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: #4b4b4b;
    width: 800px;
    margin-left: 10px;
    border-radius: 10px;
  }

  .price {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
  }

  .title{
    color: white;
  }
.date{
    
        display: flex;
        flex-direction: column;
        width: 5.5rem;
        height: 5.5rem;
        border: 1px solid #ececec;
        background-color: #2a2a2a;
        color: white;
        border-radius: 12px;
        align-items: center;
        justify-content: center;
    
}
 